.container {
    margin: 3em auto;
    padding: 1em;
    opacity: 0.9;
    background: #fdf1d0;
    width: 60vw;
    height: 270px;
}

.element-container {
    height: 270px;
    margin-bottom: .5em;
}

.element-img {
    float: left;
    width: 20%;
}

.element-description {
    float: right;
    width: 63%;
    height: 100%;
    padding-left: 1em;
    background: white;
}

.avatar{
    height: 270px;
    width: 180%;
    object-fit: cover;
}

.price-box {
    float: right;
    padding-right: .5em;
}

.btn {
    float: right;
    margin-right: 2em;
    background-color: white;
    color: black;
    border: 2px solid #da6e10;
    padding: 15px 20px;
    cursor: pointer;
}

.btn:hover {
    float: right;
    margin-right: 2em;
    background-color: #da6e10;
    color: white;
    border: 2px solid #da6e10;
    padding: 15px 25px;
    cursor: pointer;
}